<!-- Featured Wrapper -->


<div id="featured-wrapper">
<div class="featured container row-x1 section" id="featured" name="Featured Posts"><div class="widget HTML id-featured-recent show-ify"  >
<div class="widget-title">
<h3 class="title">Featured Posts</h3>
</div>
<div class="widget-content"><div class="featured-posts">


{% capture posts %}
  {% for post in site.posts %}
  
  {% for category in post.categories limit:1 %}
    
        |{{ post.view }}#{{ post.title }}#{{ post.url }}#{{ post.image }}#{{ post.date  | date: "%B %-d, %Y"  }}#{{category}}

 
      {% endfor %}
    
    
    
  {% endfor %}
{% endcapture %}
{% assign sortedposts = posts | split: '|' | sort % | reverse %}
{% for post in sortedposts limit:4 %}
    {% assign postitems = post | split: '#' %}
    
    
    
    
    <article class="featured-item post item-{% increment var %}"><div class="featured-item-inner"><a class="entry-image-link before-mask" href="{{ postitems[2] }}"><img title="{{ postitems[1] }}" alt="{{ postitems[1] }}" class="entry-thumb" data-src="{{ postitems[3] }}"/></a><span class="entry-category">{{ postitems[5] }}</span><div class="entry-header entry-info"><h2 class="entry-title"><a href="{{ postitems[2] }}">{{ postitems[1] }}</a></h2>
    
    
        <div class="entry-meta"><span class="entry-author">{{ postitems[0] }}</span><span class="entry-time"><time class="published"> {{ postitems[4] }}</time></span></div>

    
    </div></div></article>
    
    
    
 

    
{% endfor %}





</div></div>
</div></div>
</div>
