<header id="header-wrapper">
<!-- Headerify -->
<div class="headerify-wrap">
<div class="headerify show">
<div class="container row-x1">
<a aria-label="mobile menu" class="show-mobile-menu" href="javascript:;"></a>
<div class="main-logo-wrap">
<div class="main-logo section" id="main-logo"><div class="widget Header" data-version="2" id="Header1">
<div class="header-widget">
<h1 class="blog-title">
<a href="/">
Tell ME More
</a>
</h1>
</div>
</div></div>
</div>
<nav class="main-menu-wrap">
<div class="magify-main-menu " id="magify-main-menu">
<div class="widget LinkList show-menu">
<ul id="magify-main-menu-nav">
<li class="has-sub"><a href="">الصفحات</a><ul class="sub-menu m-sub"><li><a href="">إتصل بنا</a></li></ul></li><li class="has-sub"><a href="">مميزات القالب</a><ul class="sub-menu m-sub"><li><a href="">شكل الموضوع</a></li><li><a href="">LTR Version</a></li></ul></li><li><a href="">شراء القالب</a></li></ul>
</div>
</div>
</nav>
<a aria-label="search" class="search-toggle" href="javascript:;"></a>
<div id="nav-search">
<form action="https://www.google.com/search" class="search-form" method="get" name="search-form" target="_blank">
<input name="sitesearch" type="hidden" value="el-magnifico-template.blogspot.com">
<input autocomplete="on" class="search-input" name="q" placeholder="Rechercher" required="required" type="text">
<button class="search-action" type="submit">OK</button>
</form>
</div>
</div>
</div>
</div>
</header>
