<div class="widget HTML {% if "col-left" == include.type  %}   column-left block-column  {% endif %}   {% if "col-right" == include.type  %}   column-right block-column  {% endif %}  show-ify" >
<div class="widget-title title-wrap">
<h3 class="title">{{ include.content | capitalize }}</h3>
<a class="more" href="/tags#{{ include.content}}">Show more</a></div>
<div class="widget-content"><div class="             {% if "col-left" == include.type or "col-right" == include.type  %}column-posts            {% else %} {{ include.type }}{% endif %}">




{% assign age = 0 %}

{% for tag in site.categories %}
      {% if tag[0] == include.content  %}
     {% assign pages_list = tag[1] %}
    {% for post in pages_list  limit:include.limit %}
      {% if post.title != null %}
      {% if group == null or group == post.group %}

      
      
      
      
             {% if "col-left" == include.type or "col-right" == include.type  %}
                
                
                
                {% if age == 0 %}

                
              <article class="column-item item-{% increment my_counter %}"><div class="column-inner">' + thisM + '<a class="entry-image-link before-mask" href="{{ post.url }}"><img title="{{ post.title }}"  alt="{{ post.title }}" class="entry-thumb"  data-src="{{ post.image }}" /></a><div class="entry-header entry-info"><h2 class="entry-title"><a href="{{ post.url }}">{{ post.title }}</a></h2><span class="entry-time"><time class="published" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %-d, %Y" }}</time></span></div></div></article>  
                
   
            {% assign age =3 %}

            {% else %}
            
                                <article class="column-item item-{% increment my_counter %}"><a class="entry-image-link" href="{{ post.url }}"><img title="{{ post.title }}" alt="{{ post.title }}" class="entry-thumb "  data-src="{{ post.image }}" ></a><div class="entry-header"><h2 class="entry-title"><a href="{{ post.url }}">{{ post.title }}</a></h2><div class="entry-meta"><span class="entry-time"><time class="published" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %-d, %Y" }}</time></span></div></div></article>

            
  {% endif %}

           {% endif %}

      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
                {% if "block-posts-1" == include.type  %}
                
                
                
                {% if age == 0 %}

          <article class="block-item item-{% increment my_counter %}"><div class="block-inner"><span class="entry-category">Learn</span><a class="entry-image-link before-mask" href="{{ post.url }}"><img title="{{ post.title }}" alt="{{ post.title }}" class="entry-thumb "  data-src="{{ post.image }}" ></a></div><div class="entry-header entry-info">
          
          <h2 class="entry-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
          
                    <div class="entry-meta"><span class="entry-author">Templateify</span><span class="entry-time"><time class="published" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %-d, %Y" }}</time></span></div>
          </div></article>
            
            {% assign age =3 %}

            {% else %}
                                <article class="block-item item-{% increment my_counter %}"><a class="entry-image-link" href="{{ post.url }}"><img title="{{ post.title }}" alt="{{ post.title }}" class="entry-thumb "  data-src="{{ post.image }}" ></a><div class="entry-header"><h2 class="entry-title"><a href="{{ post.url }}">{{ post.title }}</a></h2><div class="entry-meta"><span class="entry-time"><time class="published" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %-d, %Y" }}</time></span></div></div></article>

            
  {% endif %}

                

          
          
   
          
      {% endif %}

      
      
      
      
      
      
            {% if "grid-posts-1" == include.type  %}
            
            
            
          <article class="grid-item "><div class="entry-image"><a class="entry-image-link" href="{{ post.url }}"><img title="{{ post.title }}" alt="{{ post.title }}" class="entry-thumb "  data-src="{{ post.image }}" ></a></div><div class="entry-header"><h2 class="entry-title"><a href="{{ post.url }}">{{ post.title }}</a></h2><div class="entry-meta"><span class="entry-time"><time class="published" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %-d, %Y" }}</time></span></div></div></article>
      {% endif %}

      
                  {% if "block-videos" == include.type  %}
                  
                
                  

          <article class="videos-item "><div class="entry-image"><a class="entry-image-link" href="{{ post.url }}"><img title="{{ post.title }}" alt="{{ post.title }}" class="entry-thumb "  data-src="{{ post.image }}" ><span class="video-icon"/></a></div><div class="entry-header"><h2 class="entry-title"><a href="{{ post.url }}">{{ post.title }}</a></h2><div class="entry-meta"><span class="entry-time"><time class="published" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %-d, %Y" }}</time></span></div></div></article>
      {% endif %}
      
      
      
      
      
      
      
      
      
      
      
      {% endif %}
      {% endif %}
    {% endfor %}
       {% endif %}

{% endfor %} 






</div></div>
</div>


 






